<!DOCTYPE html>
{% load static %}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="{% static "ace/ace.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "code.js" %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<html lang="en">
    <body>
        <div id ="leftpanel">
            <h1></h1>
            <p>MUPL (Made Up Programming Language) is a toy programming language introduced by Dan Grossman in "Programming Languages" course at Coursera.</p>
            <p>One of assignments of the course was to write an interpreter for MUPL in Racket.</p>
            <p>This site uses MUPL interpreter written in Python.</p>
            <p>Try writting MUPL expressions in editor panel, hit SUBMIT button and see what happens</p>
            <p>You can start with simple <code class="ui-state-highlight">(add (int 1) (int 1))</code></p> 
            <p>More MUPL code examples can be found <a href="https://gist.github.com/istepura/5053556">here</a></p>
            <br>
            <p>Language specification can be found <a href="http://courses.cs.washington.edu/courses/cse341/13wi/hw5.pdf">here</a></p>
        </div>
        <div id="middle">
            <div id="editor"/> </div>
            <div id="result" class="draggable ui-widget" title="You can drag this window">
                <div class="ui-widget-header">Interpreter output</div>
                 <div id="output" >
                 </div>
            </div>
        </div>
        <div id="bottom">
            <button id="send_button" class="ui-button-text-only ui-button">SUBMIT</button> 
        </div>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/solarized_dark");
            editor.setHighlightActiveLine(false);
            editor.setShowPrintMargin(false);
            //editor.getSession().setMode("ace/mode/javascript");

            $( "#send_button" ).click(function( event ) {
                event.preventDefault();
                var posting = $.post( "do/", 
                {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    code: editor.getValue(),
                });
                // Put the results in a div
                posting.done(function( data ) {
                    var content =  data;
                    if (content.status == "ok") {
                        $( "#output" ).empty().append( content.result);
                    }
                    else{
                        $("#output").empty().append("Error");
                        editor.gotoLine(content.ln, content.col);
                    }

                });
            });
        </script>
    </body>
</html>
